body {
    font-family: "Times New Roman", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    
    background-color: #f9f9f9;
}

.container-faq {
    background:none;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    font-size: 3.5rem;
    /* margin: 20px 0;
    color: #1d1d70; */
    background: none;
}

.faq {
    margin: 40px 0;
    
}

.faq-item {
    background-color: #d6e4f0;
    border-radius: 10px;
    margin: 15px 0;
    overflow: hidden;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.faq-question {
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1d1d70;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #c2d8ed;
}

.arrow {
    font-size: 0.9rem;
    color: #555;
    transition: transform 0.3s ease;
}

.faq-answer {
    font-size: 0.9rem;
    padding: 10px 20px;
    color: #333;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-us{
    margin-top:9%;
    margin-bottom: 10%;
}

.description {
    background-color:#d1e4f1 ;
    font-size: 1rem;
    margin-top: 20px;
    color: #4a4a4a;
    line-height: 1.6;
    margin-bottom: 10%;
}

/* .filler-body{
    height: 200px; 
    background-color: #d1e4f1; 
    width:100%;
   
    
} */
