@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-image: url('newwg.png');
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    padding: 15px 30px;
    width: 100%;
    height: 75px;
    background: #557bb026;
    border-radius: 14px;
    min-width: 1000px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 0 7px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-circle {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(73, 172, 170, 1) 0.01%, rgba(63, 193, 192, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-text {
    color: #fff;
    font-size: 45px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

.logo-title {
    color: #414141;
    font-family: 'Gilroy', sans-serif;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2.8px;
}

.nav-links {
    display: flex;
    gap: 54px;
    align-items: center;
}

.nav-link {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.notification-icon {
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.upload-button {
    width: 164px;
    height: 40px;
    border: 1px solid #1C0071;
    border-radius: 4px;
    background: transparent;
    color: #1C0071;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 2px ;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 0 20px;
}

.mid-content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    color: #1c0071;
    ;
    margin-bottom: 20px;
}

.mid-content h1 span {
    font-family: 'Times New Roman', Times, serif;
    color: #4955a1;
    
}

.mid-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4e5084;
    margin-bottom: 30px;
}


.btn {
  background-color: rgb(90, 90, 187);
  width:180px;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px;
} 

.btn:hover {
    background-color: #395db8;
    box-shadow: 0 0 10px;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 16px;
    }
}