.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0);
    position: relative;
    z-index: index 0;;
}

.header-section{
    z-index: 1000;
    position:relative;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1440px;
    width: 120%;
    margin: 0 auto;
    background: none;
    z-index:0;
    
}

.footer-section {
    flex-grow: 0;
}