.list-section {
    width: 100%;
    max-width: 1440px;
    min-height: 545px;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 103.5%;
    
}

.search-filter-container {
    width: 35%;
    background-color: #557bb026;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -23px;
    margin-right: 3px;
    height: 500px;
    backdrop-filter: blur(5px);
}



.search-bar {
    width: 100%;
    height: 41.51px;
    background: #fdfdfd;
    border-radius: 16.12px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 35px;
    margin-bottom: 5px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 13.84px;
    font-family: 'Poppins';
    color: #557bb026;
}

.search-icon {
    width: 26px;
    height: 30px;
}

.checkbox-container {
    display: flex;
    gap: 20px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    accent-color: #557bb026;
}

.checkbox-text {
    font-size: 13.84px;
    font-family: 'Poppins';
    color: #1c0071;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.subject-dropdown {
    width: 100%;
    height: 30.64px;
    border-radius: 7.91px;
    border: 0.99px solid #1c0071;
    padding: 0 15px;
    font-family: 'Poppins';
    font-size: 13.84px;
    font-weight: 400;
    color: #1c0071;
    outline: none;
    background-color: rgba(85, 123, 176, 0.02);
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%231c0071" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.date-filter-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.availability-text {
    font-size: 13.84px;
    font-family: 'Poppins';
    color: #1c0071;
}

.date-input {
    width: 100%;
    height: 30.64px;
    border-radius: 7.91px;
    border: 0.99px solid #1c0071;
    padding: 0 15px;
    margin-top: 5px;
    font-family: 'Poppins';
    font-size: 13.84px;
    background-color: rgba(85, 123, 176, 0.15);
    color: #1c0071;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="%231c0071" d="M19 4h-1V2h-2v2H8V2H6v2H5C3.9 4 3 4.9 3 6v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm-4-8H7v2h8v-2zm-4 4H7v2h4v-2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}



.action-buttons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.clear-button {
    padding: 4px 16px;
    border-radius: 7.91px;
    border: none;
    background: transparent;
    color: #1c0071;
    font-size: 14px;
    font-family: 'Poppins';
    cursor: pointer;
}

.apply-button {
    padding: 4px 16px;
    border-radius: 7.91px;
    border: none;
    background: #1c0071;
    color: #ccd9ec;
    font-size: 14px;
    font-family: 'Poppins';
    cursor: pointer;
}

.materials-container {
    width: 749px;
    background-color: #557bb026;
    backdrop-filter: blur(5px);
    border-radius: 14px;
    padding: 20px 20px 34px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    height: 800px;
}

.materials-title {
    font-size: 31.63px;
    font-family: 'Gloock';
    color: #1c0071;
    text-align: left;
    margin-left: 15px;
}

.materials-section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
    height: 400px;

}

.materials-section::-webkit-scrollbar {
    width: 10px;
}

.materials-section::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
}

.materials-section::-webkit-scrollbar-thumb {
    background: #1c0071;
    border-radius: 5px;
}

.materials-section::-webkit-scrollbar-thumb:hover {
    background: #1c0071;
}

.material-card {
    background: rgba(209, 221, 248, 0.8);
    border-radius: 12.51px;
    border: 0.99px solid #1c0071;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 260px;
    max-width:200px;
}

.material-image {
    width: 160px;
    background: #ffffff;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 9px;
    margin-top: 5px;
}

.material-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.material-title {
    font-size: 16px;
    font-family: 'Poppins';
    color: #3c3e78;
    margin: 0;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-icon {
    width: 21px;
    height: 21px;
}

.author-name {
    font-size: 12px;
    font-family: 'Poppins';
    color: #3c3e78;
}

.tags-container {
    display: flex;
    gap: 10px;
}

.material-tag {
    padding: 2px 8px;
    border-radius: 1.96px;
    border: 0.65px solid #1c0071;
    font-size: 9.8px;
    font-family: 'Poppins';
    color: #fff;
    background-color: #1c0071;
}

.date-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.date-label {
    font-size: 12px;
    font-family: 'Poppins';
    color: #3c3e78;
    margin-top: 17px;
}

.date-value {
    font-size: 12px;
    font-family: 'Poppins';
    color: #3c3e78;
    margin: 0;
}