* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
   
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-image: url('bgpage.jpeg.png');
}
  header {
    background-color: #d5d3d390;
    color: white;
    padding: 15px;
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    color: rgba(152, 151, 151, 0.688);
    text-decoration: none;
    font-size: 1rem;
}

header .menu-icon a {
    font-size: 2rem;
    display: none;
}


  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .circle {
    display: inline-block;
    background: #4a6cf7;
    color: white;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .text {
    font-size: 20px;
    color: #333;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;  
    align-items: center; 
  }
  
  .nav-links li {
    margin: 0 15px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .menu-icon-wrapper {
    display: flex;
    align-items: center;
  }
  
  .menu-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: white;
    color: #4a6cf7;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
 
  .mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 0 20px;
  }
  
  .mid-content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(90, 90, 187);;
    margin-bottom: 20px;
  }
  
  .mid-content h1 span {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(90, 90, 187);;
  }
  
  .mid-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: rgb(90, 90, 187);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #395db8;
  }
  

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hero-content h1 {
      font-size: 40px;
    }
  
    .hero-content p {
      font-size: 16px;
    }
  }