.table-header {
  display: flex;
  background-color: #fcfcfd;
  border-bottom: 1px solid #eef1fc;
}

.header-cell {
  flex: 1;
  padding: 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1c0071;
  line-height: 18px;
}

.header-cell:last-child {
  flex: 0 0 72px;
}

@media (max-width: 768px) {
  .header-cell {
    font-size: 14px;
    padding: 8px 16px;
  }
}

