.layout {
    display: flex;
    
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.content {
    
    display: flex;
    justify-content: space-evenly;
    width:max-content;
    flex-direction: row;
    flex-grow: 1;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;

    /* background: rgba(255, 255, 255, 0.2);  */
     
    /* -webkit-backdrop-filter: blur(10px);  */
    /* border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);  */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}