.booknotes {
    font-family: Arial, sans-serif;
    color: #1f2353;
    background-color: #e6e9f3;
    padding: 20px;
    border-radius: 3%;
}

.books, .notes {
    margin-bottom: 40px;
}

.books .section-title, .notes .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.book-list, .note-list {
    display: flex;
    gap: 16px;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-bottom: 8px; /* Add padding for better scrollbar spacing */
    max-width:1000px; /* Prevent the container from expanding beyond the parent width */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ccc transparent; /* For Firefox */
    
}

.book-list::-webkit-scrollbar, .note-list::-webkit-scrollbar {
    height: 8px; /* Custom scrollbar height */
    background: transparent;
}

.book-list::-webkit-scrollbar-thumb, .note-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

.book-list::-webkit-scrollbar-track, .note-list::-webkit-scrollbar-track {
    background: transparent;
}

.book-item, .note-item {
    width: 150px;
    height: 200px;
    background-color: #b0b8d9;
    border-radius: 8px;
    flex-shrink: 0; /* Prevent the items from shrinking */
}

.show-more {
    display: inline-flex;
    align-items: flex-end;
    margin-top: 16px;
    font-size: 16px;
    color: #1f2353;
    text-decoration: none;
    font-weight: bold;
}

.show-more:hover {
    text-decoration: underline;
}
